body{
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h2{
  text-align: center;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.formNBA{
  margin-top: 20px;
  text-align: center;
}

.formLabel{
  width: 200px;
  margin-right: 15px;
}
.footer {
  text-align: center;
  position:absolute;
  bottom:0;
}
.grupoFormItem {
  margin-top: 15px;
  margin-bottom: 25px
}
